@using RgWebapp.Services
@using BlazorBootstrap;
@inherits LayoutComponentBase
@inject LayoutService LayoutService;
@* 
<div id="blazor-layout-msg" class="@authentication">
    User is Currently NOT Authenticated
</div> *@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnParametersSet() =>
        this.LayoutService.AuthMessageChanged += this.AuthChanged;

    private async void AuthChanged(object? sender, EventArgs e)
    {
        await InvokeAsync(() =>
        {
            authentication = "authenticated";
            StateHasChanged();
        });
    }

    private string authentication = "not-authenticated";

    public void Dispose()
        => this.LayoutService.AuthMessageChanged -= this.AuthChanged;
}