@page "/"

<PageTitle>Reward Gateway API Wrapper</PageTitle>

<h1>Hello, Welcome to Reward Gateway API Wrapper!</h1>

<p>
    Please  <NavLink href="configuration">configure</NavLink> the application by entering your partner details provided by Reward Gateway.
</p>
<p>
    If you do not have partner details please contact <a href="mailto:xxx@yyy.com">RG</a>.
</p>

<a href="https://site40651.testing.aws.rewardgateway.net/" target="_blank">Test Site (use edenred email)</a>